@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "IndexDangKy";
    Layout = "~/Views/_LayoutDangNhapDangKy.cshtml";
}
<div class="container-fluid">
    <form action="@Url.Content("/User/Dangky")" method="post">
        <h4>Đăng ký</h4>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="taikhoan">Tài khoản:</label>
                    <input type="text" class="form-control" placeholder="Tài khoản" name="taikhoan">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" class="form-control" placeholder="Mật khẩu" name="matkhau">
                </div>
                <div class="form-group">
                    <label for="sdt">Số điện thoại:</label>
                    <input type="number" class="form-control" placeholder="Số điện thoại" name="sdt">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" placeholder="Email" name="email">
                </div>

                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
            <div class="col-md-3">&nbsp;</div>

        </div>
    </form>
</div>