@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "ThongTinChiTietUser";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<h2>ThongTinChiTietUser</h2>

<div>
    <h4>Đăng nhập thành công</h4>
    <div class="row">
        
        <h2 style="color:red">UNDER MAINTENANCE</h2>

    </div>
 </div>