@model IEnumerable<QLSachOnline.Models.sach>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/_Layout/_LayoutMain.cshtml";
}


@{
    foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="@Url.Content("/Sach/indexSach/"+item.masach)">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/Images/Images_SP/Pro1.jpg" class="img-fluid" alt="">
                    <h4 class="title"><a href="">@item.tensach</a></h4>
                </div>
            </a>
        </div>
        
    }
}

