@model IEnumerable<QLSachOnline.Models.sach>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    @{ int dem = 0;
        foreach (var item in Model)
        {
            <span id="FrameProduct">
                @item.tensach
            </span>
            

            dem++;
            if (dem == 3)
            {
                <br />
                dem = 0;
            }
        }

    }
</div>
