
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            PRODUCT 1
        </div>
        <div class="col-md-4">
            PRODUCT 2
        </div>
        <div class="col-md-4">
            PRODUCT 3
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            PRODUCT 1
        </div>
        <div class="col-md-4">
            PRODUCT 2
        </div>
        <div class="col-md-4">
            PRODUCT 3
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            PRODUCT 1
        </div>
        <div class="col-md-4">
            PRODUCT 2
        </div>
        <div class="col-md-4">
            PRODUCT 3
        </div>
    </div>
</div>
