@model IEnumerable<QLSachOnline.Models.goi>

@{
    ViewBag.Title = "IndexGoi";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<!-- ======= Gói Section ======= -->
<section id="featured-services" class="featured-services bg-white rounded-2">
    <div class="container" data-aos="fade-up">

        <div class="row align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 col-12 mb-5 mb-lg-0">
                    <a href="@Url.Content("/Goi/chiTietGoi/"+item.magoi)" class="text-black text-center">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon text-danger"><i class="fas fa-gem fa-5x"></i></div>
                            <h4 class="title">@item.tengoi</h4>
                            <p class="description">@item.motagoi</p>
                            <div><strong>Giá:&nbsp;</strong>@String.Format("{0:n0}", item.gia) <strong>&nbsp;VNĐ</strong></div>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>
</section><!-- End Gói Section -->
