
@{
    ViewBag.Title = "Chỉnh sửa sách";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<p>
    <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
</p>
<h2>Chỉnh sửa</h2>
<div class="container-fluid">
    <form action="/" method="post">
        <div class="row form-group">
            <div class="col-md-1 font-weight-bold">Mã sách:</div>
            <div class="col-md-2"><input type="text" name="masach" value="" class="form-control" /></div>
            <div class="col-md-1 font-weight-bold">Tên sách:</div>
            <div class="col-md-3"><input type="text" name="tensach" value="" class="form-control" /></div>
            <div class="col-md-1 font-weight-bold">Năm sản xuất:</div>
            <div class="col-md-2"><input type="number" name="namsanxuat" value="" class="form-control" /></div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row form-group">
            <div class="col-md-1 font-weight-bold">Thể loại:</div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-md-1 font-weight-bold">Nhà xuất bản:</div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-md-1 font-weight-bold">Tác giả:</div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-md-1 font-weight-bold">Giá:</div>
            <div class="col-md-1"><input type="number" value="1000" class="form-control"/></div>
        </div>
        <div class="row">
            <div class="col-md-9">&nbsp;</div>
            <div class="col-md-1">
                <input type="submit" name="name" value="Thêm" class="btn btn-primary form-control" />
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </form>
</div>
