
@{
    ViewBag.Title = "formXoaSach";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>
    <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
</p>
<h2>Xóa sách</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 font-weight-bold">Mã sách:</div>
        <div class="col-md-4">ABC</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Tên sách:</div>
        <div class="col-md-4">AAAAA</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Thể loại:</div>
        <div class="col-md-4">THEL A</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Tác giả:</div>
        <div class="col-md-4">DontKnow</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Nhà xuất bản:</div>
        <div class="col-md-4">Tilee</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Năm sản xuất:</div>
        <div class="col-md-4">2000</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Giá:</div>
        <div class="col-md-4">600000000$</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1"><a href="#" class="btn btn-primary">Xóa</a></div>
        <div class="col-md-11">&nbsp;</div>
    </div>
</div>
