
@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Quản lý sách</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Content("/Sach/formThemSach")" class="btn btn-primary">Thêm sách</a>
        </div>
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Sort</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 font-weight-bold">
            MÃ SÁCH
        </div>
        <div class="col-md-3 font-weight-bold">
            <a href="#">TÊN SÁCH</a>
        </div>
        <div class="col-md-1 font-weight-bold">
            THỂ LOẠI
        </div>
        <div class="col-md-1 font-weight-bold">
            TÁC GIẢ
        </div>
        <div class="col-md-1 font-weight-bold">
            Giá
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-1">
            <a href="#">Chọn tất cả</a>
        </div>
        <div class="col-md-2">&nbsp;</div>

    </div>
    <div class="row">
        <div class="col-md-1">
            S1222
        </div>
        <div class="col-md-3">
            <a href="@Url.Content("/Sach/formThongTinChiTiet")">The new House</a>
        </div>
        <div class="col-md-1">
            Phiêu lưu
        </div>
        <div class="col-md-1">
            ABC
        </div>
        <div class="col-md-1">
            100000
        </div>
        <div class="col-md-1">
            <a href="@Url.Content("/Sach/formXoaSach")" class="btn btn-outline-primary">Xóa</a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Content("/Sach/formChinhSua")" class="btn btn-outline-primary">Chỉnh sửa</a>
        </div>
        <div class="col-md-1">
            <input type="checkbox" name="name" value="" />
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>

</div>
