@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "IndexDangKy";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 ">&nbsp;</div>
            <div class="col-lg-6 ">
                <div class="about section-bg text-center" style="border-radius: 30px; align-content: center;">
                    <div>&nbsp;</div>
                    <h2>Đăng ký</h2>
                    <form action="@Url.Content("/User/Dangky")" method="post">
                        <div class="row">
                            <div class="col-md-1 col-1 col-lg-1">&nbsp;</div>
                            <div class="col-md-10 col-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tài khoản" name="taikhoan">
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mật khẩu" name="matkhau">
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Số điện thoại" name="sdt">
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" name="email">
                                </div>
                                <div>&nbsp;</div>
                                <button type="submit" class="btn btn-primary">Đăng ký</button>
                                <div>&nbsp;</div>
                            </div>
                            <div class="col-md-1 col-1 col-lg-1">&nbsp;</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 ">&nbsp;</div>
        </div>
    </div>
</section><!-- End Portfolio Details Section -->