
@{
    ViewBag.Title = "Thêm tác giả";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>
    <a href="@Url.Content("/TacGia/QuanLyTacGia")" class="btn btn-primary">Trở về</a>
</p>
<h2>Thêm tác giả</h2>
<div class="container-fluid">
    <form action="@Url.Content("/TacGia/themTacGia")" method="post" >
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">Mã tác giả:</div>
            <div class="col-md-2"><input type="text" name="matg" value="" class="form-control"/></div>
            <div class="col-md-2">Tên tác giả:</div>
            <div class="col-md-3"><input type="text" name="tentg" value="" class="form-control"/></div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">Ngày sinh:</div>
            <div class="col-md-2"><input type="date" name="ngaysinh" value="" class="form-control"/></div>
            <div class="col-md-2">Giới tính:</div>
            <div class="col-md-3">
                <input type="radio" name="gioitinh" value="true" checked/>Nam
                <input type="radio" name="gioitinh" value="false" />Nữ
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">Quê quán:</div>
            <div class="col-md-2"><input type="text" name="quequan" value="" class="form-control"/></div>
            <div class="col-md-2">Nghệ danh:</div>
            <div class="col-md-2"><input type="text" name="nghedanh" value="" class="form-control"/></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <input type="submit" value="Thêm" class="btn btn-primary"/>
            </div>
            <div class="col-md-9">&nbsp;</div>
        </div>
    </form>
</div>
